{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/dark.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/font-icons.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />

	
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	
  {% block link %}

  {% endblock link %}

	<!-- Document Title
	============================================= -->
	<title>Shelter- You Dream We Build</title>


</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
    <!--/ Topbar end -->

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}

  </div>
  <!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/plugins.min.js' %}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{% static 'js/functions.js' %}"></script>

  {% block script %}
  {% endblock script %}
</body>
</html>