{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Content
		============================================= -->
        <section id="page-title" class="page-title-parallax page-title-dark include-header" style="padding: 250px 0; background-image: url('/images/project/career.jpg'); background-size: cover; background-position: center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

			<div class="container clearfix">
				<h1>CAREER</h1>
			</div>

		</section><!-- #page-title end -->


		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row col-mb-50">
						<div class="col-md-7">
							<div class="fancy-title title-bottom-border">
								<h3>Executive</h3>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, natus voluptatibus adipisci porro magni dolore eos eius ducimus corporis quos perspiciatis quis iste, vitae autem libero ullam omnis cupiditate quam.</p>

							<div class="accordion accordion-bg">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Requirements
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-ok"></i>B.Tech./ B.E / MCA degree in Computer Science, Engineering or a related stream.</li>
										<li><i class="icon-ok"></i>3+ years of software development experience.</li>
										<li><i class="icon-ok"></i>3+ years of Python / Java development projects experience.</li>
										<li><i class="icon-ok"></i>Minimum of 4 live project roll outs.</li>
										<li><i class="icon-ok"></i>Experience with third-party libraries and APIs.</li>
										<li><i class="icon-ok"></i>In depth understanding and experience  of either SDLC or PDLC.</li>
										<li><i class="icon-ok"></i>Good Communication Skills</li>
										<li><i class="icon-ok"></i>Team Player</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What we Expect from you?
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-plus-sign"></i>Design and build applications/ components using open source technology.</li>
										<li><i class="icon-plus-sign"></i>Taking complete ownership of the deliveries assigned.</li>
										<li><i class="icon-plus-sign"></i>Collaborate with cross-functional teams to define, design, and ship new features.</li>
										<li><i class="icon-plus-sign"></i>Work with outside data sources and API's.</li>
										<li><i class="icon-plus-sign"></i>Unit-test code for robustness, including edge cases, usability, and general reliability.</li>
										<li><i class="icon-plus-sign"></i>Work on bug fixing and improving application performance.</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What you've got?
									</div>
								</div>
								<div class="accordion-content">You'll be familiar with agile practices and have a highly technical background, comfortable discussing detailed technical aspects of system design and implementation, whilst remaining business driven. With 5+ years of systems analysis, technical analysis or business analysis experience, you'll have an expansive toolkit of communication techniques to enable shared, deep understanding of financial and technical concepts by diverse stakeholders with varying backgrounds and needs. In addition, you will have exposure to financial systems or accounting knowledge.</div>

							</div>

							<a href="#" class="button button-border button-rounded button-large ms-0 topmargin-sm">APPLY NOW</a>

							<div class="divider divider-sm"><i class="icon-star3"></i></div>

							<div class="fancy-title title-bottom-border">
								<h3>Sr Executive</h3>
							</div>

							<p>Repudiandae quasi perspiciatis ea placeat nobis asperiores quod fuga ipsa facere enim ipsum expedita debitis, sit quia adipisci deserunt vitae hic obcaecati voluptates rerum nihil.</p>

							<div class="accordion accordion-bg">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Requirements
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-ok"></i>B.Tech./ B.E / MCA degree in Computer Science, Engineering or a related stream.</li>
										<li><i class="icon-ok"></i>3+ years of software development experience.</li>
										<li><i class="icon-ok"></i>3+ years of Python / Java development projects experience.</li>
										<li><i class="icon-ok"></i>Minimum of 4 live project roll outs.</li>
										<li><i class="icon-ok"></i>Experience with third-party libraries and APIs.</li>
										<li><i class="icon-ok"></i>In depth understanding and experience  of either SDLC or PDLC.</li>
										<li><i class="icon-ok"></i>Good Communication Skills</li>
										<li><i class="icon-ok"></i>Team Player</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What we Expect from you?
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-plus-sign"></i>Design and build applications/ components using open source technology.</li>
										<li><i class="icon-plus-sign"></i>Taking complete ownership of the deliveries assigned.</li>
										<li><i class="icon-plus-sign"></i>Collaborate with cross-functional teams to define, design, and ship new features.</li>
										<li><i class="icon-plus-sign"></i>Work with outside data sources and API's.</li>
										<li><i class="icon-plus-sign"></i>Unit-test code for robustness, including edge cases, usability, and general reliability.</li>
										<li><i class="icon-plus-sign"></i>Work on bug fixing and improving application performance.</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What you've got?
									</div>
								</div>
								<div class="accordion-content">You'll be familiar with agile practices and have a highly technical background, comfortable discussing detailed technical aspects of system design and implementation, whilst remaining business driven. With 5+ years of systems analysis, technical analysis or business analysis experience, you'll have an expansive toolkit of communication techniques to enable shared, deep understanding of financial and technical concepts by diverse stakeholders with varying backgrounds and needs. In addition, you will have exposure to financial systems or accounting knowledge.</div>

							</div>

							<a href="#" class="button button-border button-rounded button-large ms-0 topmargin-sm">APPLY NOW</a>

							<div class="divider divider-sm"><i class="icon-star3"></i></div>

							<div class="fancy-title title-bottom-border">
								<h3>Head of UX and Design</h3>
							</div>

							<p>Repudiandae quasi perspiciatis ea placeat nobis asperiores quod fuga ipsa facere enim ipsum expedita debitis, sit quia adipisci deserunt vitae hic obcaecati voluptates rerum nihil.</p>

							<div class="accordion accordion-bg">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Requirements
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-ok"></i>B.Tech./ B.E / MCA degree in Computer Science, Engineering or a related stream.</li>
										<li><i class="icon-ok"></i>3+ years of software development experience.</li>
										<li><i class="icon-ok"></i>3+ years of Python / Java development projects experience.</li>
										<li><i class="icon-ok"></i>Minimum of 4 live project roll outs.</li>
										<li><i class="icon-ok"></i>Experience with third-party libraries and APIs.</li>
										<li><i class="icon-ok"></i>In depth understanding and experience  of either SDLC or PDLC.</li>
										<li><i class="icon-ok"></i>Good Communication Skills</li>
										<li><i class="icon-ok"></i>Team Player</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What we Expect from you?
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-plus-sign"></i>Design and build applications/ components using open source technology.</li>
										<li><i class="icon-plus-sign"></i>Taking complete ownership of the deliveries assigned.</li>
										<li><i class="icon-plus-sign"></i>Collaborate with cross-functional teams to define, design, and ship new features.</li>
										<li><i class="icon-plus-sign"></i>Work with outside data sources and API's.</li>
										<li><i class="icon-plus-sign"></i>Unit-test code for robustness, including edge cases, usability, and general reliability.</li>
										<li><i class="icon-plus-sign"></i>Work on bug fixing and improving application performance.</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What you've got?
									</div>
								</div>
								<div class="accordion-content">You'll be familiar with agile practices and have a highly technical background, comfortable discussing detailed technical aspects of system design and implementation, whilst remaining business driven. With 5+ years of systems analysis, technical analysis or business analysis experience, you'll have an expansive toolkit of communication techniques to enable shared, deep understanding of financial and technical concepts by diverse stakeholders with varying backgrounds and needs. In addition, you will have exposure to financial systems or accounting knowledge.</div>

							</div>

							<a href="#" class="button button-border button-rounded button-large ms-0 topmargin-sm">APPLY NOW</a>

							<div class="divider divider-sm"><i class="icon-star3"></i></div>

							<div class="fancy-title title-bottom-border">
								<h3>Web &amp; Visual Designer (Marketing)</h3>
							</div>

							<p>Repudiandae quasi perspiciatis ea placeat nobis asperiores quod fuga ipsa facere enim ipsum expedita debitis, sit quia adipisci deserunt vitae hic obcaecati voluptates rerum nihil.</p>

							<div class="accordion accordion-bg">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Requirements
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-ok"></i>B.Tech./ B.E / MCA degree in Computer Science, Engineering or a related stream.</li>
										<li><i class="icon-ok"></i>3+ years of software development experience.</li>
										<li><i class="icon-ok"></i>3+ years of Python / Java development projects experience.</li>
										<li><i class="icon-ok"></i>Minimum of 4 live project roll outs.</li>
										<li><i class="icon-ok"></i>Experience with third-party libraries and APIs.</li>
										<li><i class="icon-ok"></i>In depth understanding and experience  of either SDLC or PDLC.</li>
										<li><i class="icon-ok"></i>Good Communication Skills</li>
										<li><i class="icon-ok"></i>Team Player</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What we Expect from you?
									</div>
								</div>
								<div class="accordion-content">
									<ul class="iconlist iconlist-color mb-0">
										<li><i class="icon-plus-sign"></i>Design and build applications/ components using open source technology.</li>
										<li><i class="icon-plus-sign"></i>Taking complete ownership of the deliveries assigned.</li>
										<li><i class="icon-plus-sign"></i>Collaborate with cross-functional teams to define, design, and ship new features.</li>
										<li><i class="icon-plus-sign"></i>Work with outside data sources and API's.</li>
										<li><i class="icon-plus-sign"></i>Unit-test code for robustness, including edge cases, usability, and general reliability.</li>
										<li><i class="icon-plus-sign"></i>Work on bug fixing and improving application performance.</li>
									</ul>
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What you've got?
									</div>
								</div>
								<div class="accordion-content">You'll be familiar with agile practices and have a highly technical background, comfortable discussing detailed technical aspects of system design and implementation, whilst remaining business driven. With 5+ years of systems analysis, technical analysis or business analysis experience, you'll have an expansive toolkit of communication techniques to enable shared, deep understanding of financial and technical concepts by diverse stakeholders with varying backgrounds and needs. In addition, you will have exposure to financial systems or accounting knowledge.</div>

							</div>

							<a href="#" class="button button-border button-rounded button-large ms-0 topmargin-sm">APPLY NOW</a>
						</div>

						<div class="col-md-5">
							<div id="job-apply" class="heading-block highlight-me">
								<h2>Apply Now</h2>
								<span>And we'll get back to you within 48 hours.</span>
							</div>

							<div class="form-widget">
								<div class="form-result"></div>

								<form action="include/form.php" id="template-jobform" name="template-jobform" class="row mb-0" method="post">

									<div class="form-process">
										<div class="css3-spinner">
											<div class="css3-spinner-scaler"></div>
										</div>
									</div>

									<div class="col-md-6 form-group">
										<label for="template-jobform-fname">Name <small>*</small></label>
										<input type="text" id="template-jobform-fname" name="template-jobform-fname" value="" class="sm-form-control required" />
									</div>

									<div class="col-6 form-group">
										<label for="template-jobform-email">Email <small>*</small></label>
										<input type="email" id="template-jobform-email" name="template-jobform-email" value="" class="required email sm-form-control" />
									</div>

									<div class="w-100"></div>

									<div class="col-12 form-group">
										<label for="template-jobform-application">Message</label>
										<textarea name="template-jobform-application" id="template-jobform-application" rows="6" tabindex="11" class="sm-form-control"></textarea>
									</div>

									<div class="w-100"></div>

									<div class="col-md-6 form-group">
										<label for="template-jobform-lname">Contact Number<small>*</small></label>
										<input type="text" id="template-jobform-lname" name="template-jobform-lname" value="" class="sm-form-control required" />
									</div>
									

									<div class="col-md-6 form-group">
										<label for="template-jobform-lname">Upload CV<small>*</small></label>
										<input type="file" id="template-jobform-lname" name="template-jobform-name"class="sm-form-control required" />
									</div>

									<div class="col-12 form-group">
										<button type="submit" class="button button-border button-rounded w-100 ms-0">SEND APPLICATION</button>
									</div>

									<input type="hidden" name="prefix" value="template-jobform-">

								</form>
							</div>

						</div>
					</div>

				</div>
			</div>
		</section><!-- #content end -->


{% endblock content %}