{% extends 'base.html' %}
{% load static %}

{% block link %}

<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="{% static 'include/rs-plugin/css/settings.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'include/rs-plugin/css/layers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/rs-plugin/css/navigation.css' %}">
<style>

  .revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
  }

  .revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
  }

  .revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
  }

  .tp-video-play-button { display: none !important; }

  .tp-caption { white-space: nowrap; }

</style>


{% endblock link %}

{% block content %}

<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element revslider-wrap slider-parallax min-vh-100 include-header">
			<div class="slider-inner">
				<div id="rev_slider_579_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="default-slider" style="padding:0px;">
					<!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
					<div id="rev_slider_579_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.4">
						<ul>   <!-- SLIDE  -->

							{% for sli in slider %}
							<li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-thumb="images/slider/rev/main/s3-thumb.jpg" data-delay="10000"  data-saveperformance="off"  data-title="Responsive &amp; Retina">
							<!-- MAIN IMAGE -->
								<img src="{{ sli.image.url }}"  alt="kenburns6"  data-bgposition="left top" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-bgpositionend="right bottom">
								<!-- LAYERS -->

								<!-- LAYER NR. 2 -->
								<div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text p-0 border-0"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-10','-10']"
								data-fontsize="['50','50','50','36']"
								data-lineheight="['50','50','60','50']"
								data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
								data-speed="800"
								data-start="1200"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-textAlign="center"
								data-width="['800','800','560','400']"
								data-height="none"
								data-whitespace="['normal','nowrap','normal','normal']"
								data-endeasing="Power4.easeIn" style="z-index: 3; white-space: normal;">{{ sli.title }}</div>

								<div class="tp-caption ltl tp-resizeme"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['170','170','210','210']"
								data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
								data-speed="800"
								data-start="1550"
								data-easing="easeOutQuad"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.01"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;"><a href="#" class="button button-border button-white button-light button-large button-rounded text-end m-0"><span>Start Tour</span> <i class="icon-angle-right"></i></a></div>
							</li>
							{% endfor %}

						</ul>
					</div>
				</div><!-- END REVOLUTION SLIDER -->
			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="mx-auto center clearfix" style="max-width: 900px;">
						<img class="bottommargin" src="images/loogo.png" alt="Image">
						<h1>Welcome! This is <span>SHELTER </span></h1>
						<h2>Partner with the best Artisan, to transform your land into a milestone of aesthetic marvel and superior value.</h2>
						<a href="{% url 'project' %}" class="button button-border button-rounded button-large ms-0 topmargin-sm">Projects</a>
						<a href="{% url 'about_us' %}" class="button button-border button-rounded button-large ms-0 topmargin-sm">Know Us</a>
					</div>

					<div class="line"></div>

				</div>

				<div class="clear"></div>
				

				<div class="section mt-0 border-0 mb-0" >
					<div class="container clearfix">

						<div class="heading-block center mb-0">
							<h2>Our Awesome Works</h2>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, earum!</span>
						</div>

					</div>
				</div>

				<!-- Portfolio Items
				============================================= -->
				<div id="portfolio" class="portfolio row grid-container g-0">
					{% for x in projects %}
					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="{% url 'project_view' x.id %}">
									<img src="{{ x.feature_image.url }}" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<a href="{% url 'project_view' x.id %}" class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3>{{ x.name }}</h3>
											<span>{{x.address }}</span>
										</a>
										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>
					{% endfor %}
					<!-- <article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/project/p1.jpg" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3><a href="portfolio-single-video.html">Jannuza</a></h3>
											<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
										</div>

										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/project/p3.jpg" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3><a href="portfolio-single-video.html">Sweet Ill</a></h3>
											<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
										</div>

										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/project/p6.jpg" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3><a href="portfolio-single-video.html">Hamburgh</a></h3>
											<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
										</div>

										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/project/p5.jpg" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3><a href="portfolio-single-video.html">Mehtuliya</a></h3>
											<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
										</div>

										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/project/p4.jpg" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3><a href="portfolio-single-video.html">Staborn</a></h3>
											<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
										</div>

										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>

					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/project/p3.jpg" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3><a href="portfolio-single-video.html">Azzurati</a></h3>
											<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
										</div>

										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article>
					<article class="portfolio-item col-lg-3 col-md-4 col-sm-6 col-12 pf-graphics pf-media pf-uielements">
						<div class="grid-inner">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/project/p2.jpg" alt="Study Table">
								</a>
								<div class="bg-overlay">
									<div class="bg-overlay-content dark flex-column" data-hover-animate="fadeIn">
										<div class="portfolio-desc pt-0 center" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350">
											<h3><a href="portfolio-single-video.html">Delta </a></h3>
											<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
										</div>

										<div class="d-flex">
											
										</div>
									</div>
									<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
								</div>
							</div>
						</div>
					</article> -->

				</div>

				<div class="section border-top-0 topmargin-sm bottommargin-sm border-0 bg-transparent">
					<div class="container clearfix">

						<div class="row col-mb-50">
							<div class="col-sm-6 col-lg-4 text-center" data-animate="bounceIn">
								<i class="i-plain i-xlarge mx-auto mb-0 icon-time"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="{{ on }}" data-refresh-interval="50" data-speed="2000"></span></div>
								<h5>Ongoing Projects</h5>
							</div>

							<div class="col-sm-6 col-lg-4 text-center" data-animate="bounceIn" data-delay="200">
								<i class="i-plain i-xlarge mx-auto mb-0 icon-arrow-circle-down"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="13" data-refresh-interval="100" data-speed="2500"></span></div>
								<h5>Upcoming Projects</h5>
							</div>

							<div class="col-sm-6 col-lg-4 text-center" data-animate="bounceIn" data-delay="400">
								<i class="i-plain i-xlarge mx-auto mb-0 icon-ok-sign"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="23" data-refresh-interval="25" data-speed="3500"></span></div>
								<h5>Completed Projects</h5>
							</div>
						</div>

					</div>
				</div>

				<div class="container clearfix">

					<div class="row align-items-center gutter-40 col-mb-50">
						<div class="col-md-5">
							<img data-animate="fadeInLeftBig" src="images/team/3.jpg" alt="Imac">
						</div>

						<div class="col-md-7">
							<div class="heading-block">
								<h2>JOHN DOE</h2>
								<span>CHAIRMAN</span>
							</div>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, nobis quae eos provident quidem. Quaerat expedita dignissimos perferendis, nihil quo distinctio eius architecto reprehenderit maiores Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, nobis quae eos provident quidem. Quaerat expedita dignissimos perferendis, nihil quo distinctio eius architecto reprehenderit maiores.</p>

							<a href="{% url 'team_page' %}" class="button button-border button-rounded button-large ms-0 topmargin-sm">OUR TEAM</a>
						</div>
					</div>

					<div class="line"></div>

				</div>

				<div class="container mx-auto clearfix">

					<div class="heading-block center">
						<h2>OUR PROJECTS</h2>
						<span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
					</div>

					<div style="position: relative;" data-height-xl="624" data-height-lg="518" data-height-md="397" data-height-sm="242" data-height-xs="154">
						<img src="images/project/map.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="Chrome">
					</div>
				</div>
				<div class="line"></div>

				<div class="row bottommargin-lg align-items-stretch">

					<div class="col-lg-5 dark col-padding overflow-hidden" style="background-image: url('images/project/buyer.jpg');">
						<div>
							<h3 class="text-uppercase" style="font-weight: 600;">BUYER</h3>
							<p style="line-height: 1.8;">Transform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security Rosa.</p>
							<a href="{% url 'buyer' %}" class="button button-border button-light button-rounded text-uppercase m-0">Book Now</a>
							<i class="icon-bulb bgicon"></i>
						</div>
					</div>
					<div class="col-lg-2 dark col-padding overflow-hidden"></div>

					<div class="col-lg-5 dark col-padding overflow-hidden" style="background-image: url('images/project/landowner.jpg');">
						<div>
							<h3 class="text-uppercase" style="font-weight: 600;">LANDOWNER</h3>
							<p style="line-height: 1.8;">Frontline respond, visionary collaborative cities advancement overcome injustice, UNHCR public-private partnerships cause. Giving, country educate rights-based approach; leverage disrupt solution.</p>
							<a href="{% url 'landowner' %}" class="button button-border button-light button-rounded text-uppercase m-0">Contact Us</a>
							<i class="icon-cog bgicon"></i>
						</div>
					</div>

					<div class="clear"></div>

				</div>


			</div>
		</section><!-- #content end -->

<!--/ subscribe end -->

{% endblock content %}

{% block script %}
<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<script src="{% static 'include/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>

<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'include/rs-plugin/js/extensions/revolution.extension.parallax.min.js' %}"></script>


<script>

  var tpj = jQuery;
  var revapi202;
  var $ = jQuery.noConflict();

  tpj(document).ready(function() {
    if (tpj("#rev_slider_579_1").revolution == undefined) {
      revslider_showDoubleJqueryError("#rev_slider_579_1");
    } else {
      revapi202 = tpj("#rev_slider_579_1").show().revolution({
        sliderType: "standard",
        jsFileLocation: "include/rs-plugin/js/",
        sliderLayout: "fullscreen",
        dottedOverlay: "none",
        delay: 9000,
        responsiveLevels: [1140, 1024, 778, 480],
        visibilityLevels: [1140, 1024, 778, 480],
        gridwidth: [1140, 1024, 778, 480],
        gridheight: [728, 768, 960, 720],
        lazyType: "none",
        shadow: 0,
        spinner: "off",
        stopLoop: "on",
        stopAfterLoops: 0,
        stopAtSlide: 1,
        shuffle: "off",
        autoHeight: "off",
        fullScreenAutoWidth: "off",
        fullScreenAlignForce: "off",
        fullScreenOffsetContainer: "",
        fullScreenOffset: "",
        disableProgressBar: "on",
        hideThumbsOnMobile: "off",
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        debugMode: false,
        fallbacks: {
          simplifyAll:"off",
          disableFocusListener:false,
        },
        parallax: {
          type:"mouse",
          origo:"slidercenter",
          speed:300,
          levels:[2,4,6,8,10,12,14,16,18,20,22,24,49,50,51,55],
        },
        navigation: {
          keyboardNavigation:"off",
          keyboard_direction: "horizontal",
          mouseScrollNavigation:"off",
          onHoverStop:"off",
          touch:{
            touchenabled:"on",
            swipe_threshold: 75,
            swipe_min_touches: 1,
            swipe_direction: "horizontal",
            drag_block_vertical: false
          },
          arrows: {
            style: "hermes",
            enable: true,
            hide_onmobile: false,
            hide_onleave: false,
            tmp: '<div>	</div>',
            left: {
              h_align: "left",
              v_align: "center",
              h_offset: 10,
              v_offset: 0
            },
            right: {
              h_align: "right",
              v_align: "center",
              h_offset: 10,
              v_offset: 0
            }
          }
        }
      });
      revapi202.on("revolution.slide.onloaded",function (e) {
        setTimeout( function(){ SEMICOLON.slider.sliderDimensions(); }, 200 );
      });

      revapi202.on("revolution.slide.onchange",function (e,data) {
        SEMICOLON.slider.revolutionSliderMenu();
      });
    }
  }); /*ready*/

</script>

{% endblock script %}

